.head {
    background-image : url("../image/h_img.jpg");
    background-size: cover;
    height : 1000px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    padding-block-start: 400px;
}
#icon {
    padding-block-start: 200px;
}
.about {
    text-align: center;
    padding-block-start: 30px;
    padding-block-end: 70px;
    font-weight: initial;
}
.service {
    background-image: url("../image/s_image.jpg");
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    height: 400px;
    width: 100%;
}
#main {
    padding-block-start: 100px;
}
.portfolio {
    text-align: center;
    padding-block-start: 90px;
}
section {
    display :flex;
}
#first {
    flex-wrap: wrap-reverse;
    justify-content: center;
}
#first :hover{
    
    position: sticky; 
    top: 8px;
    left: 8px; 
    bottom: 8px;
    right: 8px;
    background: transparent;
}
#second {
    flex-wrap: wrap-reverse;
    justify-content: center;
}
#one {
    padding: 20px;
}
#two {
    padding: 20px;
}
#three {
    padding: 20px;
}
#four {
    padding: 20px;
}
#five {
    padding: 20px;
}
#six{
    padding: 20px;
}
#seven {
    padding: 20px;
}
#eight {
    padding: 20px;
}
input[type=text],textarea {
     padding: 6px;
     background: transparent;
     color: aliceblue;
}
.contact {
    background-image: url("../image/c_image.jpg");
    color: white;
    text-align: center;
    font-weight: bold;
    padding-block-start: 40px;
    padding-block-end: 100px;
}
#name {
    color: aliceblue;
}
#message {
    height: 300px;
    width: 70%;
    color: aliceblue;
    justify-content: center;
}
th{
    padding: 10px;
    padding-left: 60px;
}
.social {
    padding-block-start: 90px;
    padding-block-end: 40px;
}
.footer {
    text-align: center;
    font-weight: bold;
}
#hide {
    display: none;
}
#hide2 {
    display: none;
}
#hide3 {
    display: none;
}
#design {
    text-align: center;
}
#develop {
    text-align: center;
}
#manag{
    text-align: center;
}
.send{
    background-color: darkgrey;
    color: black;
    padding-right: 100px;
    text-align: center;
}

